body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u875 {
  position:absolute;
  left:18px;
  top:48px;
  width:377px;
  height:627px;
  font-size:18px;
  color:#666666;
}
#u876 {
  position:absolute;
  left:2px;
  top:306px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:18px;
  top:8px;
  width:376px;
  height:40px;
}
#u879 {
  position:absolute;
  left:2px;
  top:12px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u881 {
  position:absolute;
  left:25px;
  top:23px;
  width:6px;
  height:8px;
}
#u882 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u883 {
  position:absolute;
  left:35px;
  top:23px;
  width:6px;
  height:8px;
}
#u884 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u885 {
  position:absolute;
  left:45px;
  top:23px;
  width:6px;
  height:8px;
}
#u886 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u887 {
  position:absolute;
  left:55px;
  top:23px;
  width:6px;
  height:8px;
}
#u888 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u889 {
  position:absolute;
  left:65px;
  top:23px;
  width:6px;
  height:8px;
}
#u890 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:356px;
  top:20px;
  width:27px;
  height:17px;
}
#u893 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:361px;
  top:25px;
  width:17px;
  height:7px;
}
#u895 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  position:absolute;
  left:383px;
  top:25px;
  width:4px;
  height:7px;
}
#u897 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u898 {
  position:absolute;
  left:78px;
  top:19px;
  width:63px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u900 {
  position:absolute;
  left:189px;
  top:21px;
  width:80px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u902 {
  position:absolute;
  left:315px;
  top:21px;
  width:80px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:552px;
}
#u904 {
  position:absolute;
  left:18px;
  top:123px;
  width:377px;
  height:552px;
}
#u905 {
  position:absolute;
  left:2px;
  top:268px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u906 {
  position:absolute;
  left:215px;
  top:58px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u908 {
  position:absolute;
  left:290px;
  top:48px;
  width:105px;
  height:33px;
}
#u908_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u908_input:disabled {
  color:grayText;
}
